html    
    head
        style
            include style.css
        title="express, pug, google"
    body
      h1 Log in, press on the button please
        a(href="/auth/google"): button.google_auth_button Login